/* ALL PAGE ELEMENTS */



html, body{
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 30px 0 0 0;
  font-size: 1rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.page {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

footer {
  flex: 0 1 auto;
  padding: 50px 0 10px 0;
}

hr{
  max-width: 1100px;
}

h1 {
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #278F92;

}

a:hover {
  text-decoration: none !important;
}

h1:hover {
  color: #206E71;
}

h2 {
  font-weight: 500;
  padding-bottom: 10px;
}

h3 {
  font-weight: 400;
  padding-bottom: 10px;
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 7px;
  padding-bottom: 7px;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600 !important;
  line-height: 10px !important;
}

h6 {
  font-size: 1rem;
  font-weight: 400 !important;
}

i{
  color:#333333;
}

.light{
  font-weight: 300;
}

.regular{
  font-weight: 400;
}

.medium{
  font-weight: 500;
}

.bold{
  font-weight: 700;
}

.upperCase{
  text-transform: uppercase;
}

.lightTeal{
  color: #52c2c3
}



/* INNER PAGE FOOTER */
.footer {
  list-style-type: none;
  text-align: center;
}

.footer li {
  display: inline;
  padding: 40px;
  text-transform: uppercase;
}

.footer a {
  text-decoration: none;
  color: #278F92;
}

.footer a:hover {
  text-decoration: none;
  color: #1A6E71;
}

.footer-end {
  font-size: 12px;
}

.center {
  text-align: center;
}

.stroke{
  border: .25px solid gray;
}

.bottomPagination ul{
  justify-content: center;
  margin: 50px 0 0 0;
}

/* NAVBAR */
.navbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar p {
  /* font-size: 60px; */
}

.nameFormat:hover {
  text-transform: uppercase;
  font-size: 32px !important;
  font-weight: 700 !important;
  text-decoration: none !important;
}

.nav-item a {
  text-transform: uppercase;
}


/* MAIN CONTENT */

.split {
  height: auto;
}

.photo{
  width: 100%;
}

.halfwidth{
  width: 50%;
  margin: 0 50px 0 0;
}

.heightFill{
  min-height: 100%;
  object-fit: cover;
  max-width: 100%;
}

.photoSpace {
  width: 100%;
  padding: 20px;
  filter: drop-shadow(0 0 0.75rem #dddddd);
}

.smallText{
  font-size: 14px;
}

.extrasmallText{
  font-size: 10px;
}

.card-title {
  text-align: center;
  line-height: 22px !important;
  color: #555555;
}

.card-title a:hover {
  text-decoration: none !important;
}

.second {
  margin-top: 50px;
}

.smallWhiteSpace {
  margin-top: 2vh;
}

.page-link {
  /* font-size: 12px !important; */
  color: #278F92 !important;
}

.page-item li {
  border-style: none !important;
}

.shadow{
  filter: drop-shadow(0 0 0.75rem black);
}

.articleHeader{
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  color: #278F92;
  padding: 10px;
}

.infoVisTitles{
  text-transform: uppercase;
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #278F92;
  border-bottom: 1px solid #278F92;
}

.marginTopImage{
  margin-top: 100px;
}

.marginBottom{
 margin-bottom: 20px;
}

/* CV PAGE */

.cvCont{
  padding: 0 20px 0 20px;
}

.cvTitle{
  border-bottom: 1px solid #52c2c3;
}

.lessSpace{
  margin-bottom: 0px;
}

.cvExperienceChunk{
  margin-bottom: 30px;
}

.smallPrev{
  /* font-size: 12px; */
}
/*
@media (min-width: 576px){
  body {
    font-size: 24px;
  }
} */
